
</div> <!-- close wx-content -->
</div>
  
<div data-role="footer" data-theme="f">
<center><small>page created: <!-- tmpl_var name="pagecreateddate" --></small></center>
</div>

</div>
</body>
</html>

