<!-- tmpl_include name="header.tmpl" -->

<p><strong><ins>National Weather Service</ins></strong></p>
<ul>
<li><a  class="extlink" href="http://www.spc.noaa.gov/">Storm Prediction Center</a></li>
<li><a  class="extlink" href="http://www.erh.noaa.gov/cle/">Cleveland NWS</a></li>
<li><a  class="extlink" href="http://www.crh.noaa.gov/iwx">N. IN NWS</a></li>
<li><a  class="extlink" href="http://www.crh.noaa.gov/dtx/">Detroit/Pontiac NWS</a></li>
<li><a  class="extlink" href="http://forecast.weather.gov/MapClick.php?lat=41.5924053&amp;lon=-83.80837989999998&amp;site=all&amp;smap=1&amp;searchresult=Toledo%20Express%20Airport%2C%20Swanton%2C%20OH%2043558%2C%20USA%23.Ub-a_OdwqSo">Toledo Express Airport</a></li>
<li><a  class="extlink" href="http://forecast.weather.gov/MapClick.php?lat=41.556996&lon=-83.62715700000001&site=all&smap=1&searchresult=Perrysburg%2C%20OH%2C%20USA#.Ub-duedwqSo">Toledo Executive Airport</a></li>
<li><a  class="extlink" href="http://forecast.weather.gov/MapClick.php?lat=41.7359&lon=-83.6533">Toledo Suburban Airport</a></li>
<li><a  class="extlink" href="http://www.weather.gov/view/validProds.php?prod=LSR&amp;node=KCLE">Local Storm Report</a></li>
<li><a  class="extlink" href="http://radar.weather.gov/radar.php?rid=cle&product=NTP&overlay=11101111&loop=no">Radar Esstimated Rainfall Amounts</a></li>
<li><a  class="extlink" href="http://www.cpc.ncep.noaa.gov/products/predictions/610day/">6 to 10 Day Precip and Temp Outlooks</a></li>
</ul>
   
<p><strong><ins>Wunderground</ins></strong></p>
<ul>
<li><a  class="extlink" href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=tol">Toledo Express Airport</a></li>
<li><a  class="extlink" href="http://www.wunderground.com/US/OH/Toledo/KTDZ.html">Toledo Metcalf Airport</a></li>
<li><a  class="extlink" href="http://www.wunderground.com/severe.asp?region=mw&amp;setprefs.0.key=SVRMAP&amp;setprefs.0.val=mw%23gotoMap">Midwest Severe Weather Map</a></li>
</ul>

<p><strong><ins>Forecast.io</ins></strong></p>
<ul>
<li><a  class="extlink" href="http://www.forecast.io">forecast.io</a></li>
<li><a  class="extlink" href="http://www.forecast.io/lines">forecast.io/lines</a></li>
<li><a  class="extlink" href="http://blog.forecast.io">blog.forecast.io</a></li>
<li><a  class="extlink" href="https://developer.forecast.io">developer.forecast.io</a></li>
<li><a  class="extlink" href="http://darkskyapp.com">Dark Sky iOS App</a></li>
</ul>

<p><strong><ins>Winter Weather</ins></strong></p>
<ul>
<li><a href="http://tinyurl.com/ps6vxjp">Cle NWS Forecast Snowfall</a></li>
<li><a  class="extlink" href="http://tinyurl.com/GFS-Total-Snowfall">Global Forecast System Total Snowfall Model</a></li>
<li><a  class="extlink" href="http://www.wpc.ncep.noaa.gov/wwd/winter_wx.shtml">Weather Prediction Center Winter Weather Forecasts</a></li>
<li><a  class="extlink" href="http://toledowinter.com">ToledoWinter.com</a></li>
</ul>

<!-- tmpl_include name="footer.tmpl" -->
