<!-- tmpl_include name="header.tmpl" -->

<div data-role="collapsible-set" data-inset="false">

<div data-role="collapsible" data-collapsed="false">
<h3>Day 1 Outlook</h3>
<p>
<div style="float:right">
<a href="<!-- tmpl_var name="wxhome" -->/day1otlk.html" data-role="button" data-icon="arrow-r" data-inline="true" data-mini="true" data-theme="e">Day 1 Outlook Text</a>
</div>
<img src="<!-- tmpl_var name="imagehome" -->/<!-- tmpl_var name="day1gif" -->">
</p>
</div>

<!-- day 1 prob -->

<div data-role="collapsible">
<h3>Day 1 Prob Tornado</h3>
<p>
<img src="<!-- tmpl_var name="imagehome" -->/<!-- tmpl_var name="day1tornadogif" -->">
</p>
</div>

<div data-role="collapsible">
<h3>Day 1 Prob Wind</h3>
<p>
<img src="<!-- tmpl_var name="imagehome" -->/<!-- tmpl_var name="day1windgif" -->">
</p>
</div>

<div data-role="collapsible">
<h3>Day 1 Prob Hail</h3>
<p>
<img src="<!-- tmpl_var name="imagehome" -->/<!-- tmpl_var name="day1hailgif" -->">
</p>
</div>

<!-- end day one outlook -->

<div data-role="collapsible">
<h3>Day 2 Outlook</h3>
<p>
<div style="float:right">
<a href="<!-- tmpl_var name="wxhome" -->/day2otlk.html" data-role="button" data-icon="arrow-r" data-inline="true" data-mini="true" data-theme="e">Day 2 Outlook Text</a>
</div>
<img src="<!-- tmpl_var name="imagehome" -->/<!-- tmpl_var name="day2gif" -->">
</p>
</div>

<div data-role="collapsible">
<h3>Day 3 Outlook</h3>
<p>
<div style="float:right">
<a href="<!-- tmpl_var name="wxhome" -->/day3otlk.html" data-role="button" data-icon="arrow-r" data-inline="true" data-mini="true" data-theme="e">Day 3 Outlook Text</a>
</div>
<img src="<!-- tmpl_var name="imagehome" -->/<!-- tmpl_var name="day3gif" -->">
</p>
</div>

<div data-role="collapsible">
<h3>Day 4-8 Outlook</h3>
<p>
<div style="float:right">
<a href="<!-- tmpl_var name="wxhome" -->/day48otlk.html" data-role="button" data-icon="arrow-r" data-inline="true" data-mini="true" data-theme="e">Day 4-8 Outlook Text</a>
</div>
<img src="<!-- tmpl_var name="imagehome" -->/day48prob.gif">
</p>
</div>

</div>

<!-- tmpl_include name="footer.tmpl" -->
