 <!-- tmpl_include name="header.tmpl" --> 

    <ul data-role="listview" data-inset="false" data-divider-theme="b">
 <!--     <li data-icon="alert"><a href="severe-thunderstorm-watch.html"><span class="wx-alert">Severe T-storm Watch</span> <span class="wx-minor-text">to 9:00 pm</span></a></li> -->
 <!--       <li data-icon="alert"><a href="mesoscale-discussion.html"><span class="wx-alert">Mesoscale Discussion</span> <span class="wx-minor-text">1:30pm</span></a></li> -->

    <!-- tmpl_loop mesoscale_loop --> 
      <li data-icon="alert"><a href="mesoscale<!-- tmpl_var name="mdnum" -->.html"><span class="wx-alert">Mesoscale Discussion</span> <span class="wx-minor-text"> #<!-- tmpl_var name="mdnum" --> <!-- tmpl_var name="mdtime" --></span></a></li> 
    <!-- /tmpl_loop -->
    <!-- tmpl_loop buttonalerts_loop -->
      <li data-icon="alert"><a href="<!-- tmpl_var name="url" -->"><span class="wx-alert"><!-- tmpl_var name="alert" --></span> <span class="wx-minor-text"><!-- tmpl_var name="alert_time" --></span></a></li> 
    <!-- /tmpl_loop -->
      <li><a href="current-conditions.html"><!-- tmpl_var name="conditions_weather" -->: <!-- tmpl_var name="conditions_temperature" --> <span class="wx-minor-text"><!-- tmpl_var name="conditions_time" --></span></a></li>
      <li><a href="radar.html">Radar</a></li>
      <li><a href="forecast.html">7-day Forecast <span class="wx-minor-text"><!-- tmpl_var name="forecast_time" --></span></a></li>
      <li><a href="hourly-forecast.html">Hourly Forecast</a></li>
      <li><a href="forecast-discussion.html">Forecast Discussion <span class="wx-minor-text"><!-- tmpl_var name="discussion_time" --></span></a></li>
      <li><a href="convective-outlook.html">Convective Outlook</a></li>
      <li><a href="more-radars-and-maps.html">More Radars & Maps</a></li>
      <li><a href="lake-forecast.html">Lake Forecast <span class="wx-minor-text"><!-- tmpl_var name="marine_time" --></span></a></li>
    <!-- tmpl_unless hazardous_outlook_exists --> 
      <li><a href="hazardous-weather-outlook.html"><span>No Hazardous Weather</span> <span class="wx-minor-text"><!-- tmpl_var name="hazardous_outlook_time" --></span></a></li> 
    <!-- /tmpl_unless -->
      <li><a href="external-links.html">External Links</a></li>
      <li><a href="errors.html"><span class="wx-minor-text">error log</span></a></li>
    </ul>

<!-- tmpl_include name="footer.tmpl" -->
